<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @show.name %>
</p>

<p>
  <b>Description:</b>
  <%= @show.description %>
</p>

<p>
  <b>Numseasons:</b>
  <%= @show.numSeasons %>
</p>

<p>
  <b>Show:</b>
  <%= @show.show_id %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
